body{
    font-family: Arial, sans-serif;
    padding:20px;
}

h1{
    text-align:center;
}

.container{
    width:400px;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:10px;
}

input{
    padding:10px;
}

button{
    padding:10px;
    cursor:pointer;
}

table{
    width:100%;
    margin-top:20px;
    border-collapse:collapse;
}

table,th,td{
    border:1px solid black;
}

th,td{
    padding:10px;
    text-align:center;
}